{% extends 'base.html' %}

{% block content %}
<div class="container" style="font-size: 50px;padding-top: 40px;background-color: rgb(255, 123, 0);color: cornsilk;">
    <div class="my-pitches mb-5 mt-5"
        style="box-shadow: 0 7px 8px 0 rgba(255, 123, 0, 0.842), 0 10px 10px 0 rgba(214, 109, 24, 0.8); margin-top: 10px;margin: 10px;">
        <h3 class="text-center mt-5">About My-Blog</h3>
        <hr>
        <h4 class="text-center mb-5 mt-5 pt-3 pb-5">My-Blog is a sight where we have different blogs and quotes.As a user .Anyone can view the blog posts on the site.</h4>

    </div>
</div>
{% endblock %}